@model IEnumerable<Category>
@{
    Layout = "_LayoutAdmin";  // Varsayılan olarak yeni layout'u kullan
}

<style>
    a {
        color: black;
    }

    .img-hover {
        transition: transform 0.3s ease; /* Yumuşak geçiş efekti */
    }

        .img-hover:hover {
            transform: scale(3.0); /* Resmi 1.2 kat büyütme */
        }

</style>
<h2><a asp-controller="PageManagement" asp-action="HomePageManagement" class="black-link">Anasayfa</a> / Kategori Yönetimi</h2>
<hr>
<!-- Kategoriler -->
<vc:category />

<a class="btn btn-outline-success me-2" asp-action="CategoryCreate">İçerik Ekle</a>
<br />
<br />
<table class="table table-sm">
    <colgroup>
        <col style="width: 150px;">  <!-- Fotoğrafın genişliği -->
        <col style="width: auto;">   <!-- Diğer kolonlar için otomatik genişlik -->
        <col style="width: auto;">
        <col style="width: 300px;">  <!-- Düzenleme ve Silme butonları için kolon genişliği -->
    </colgroup>

    <thead>
        <tr>
            <th>Kategori Fotoğrafı</th>
            <th>Kategori Adı</th>
            <th>Aktif mi ?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    <img src="~/img/Category/@category.CategoryImg" alt="Slider Image" class="d-block w-100 img-hover">
                </td>
                <td>@category.Name</td>
                <td>@(category.IsActive ? "Evet" : "Hayır")</td>

                <td>
                    <form asp-action="CategoryActive" method="post" style="display: inline-block; margin-right: 5px;">
                        <input type="hidden" name="id" value="@category.Id" />
                        @if (category.IsActive)
                        {
                            <button type="submit" class="btn btn-warning btn-sm">Deaktif Et</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success btn-sm">Aktif Et</button>
                        }
                    </form>
                    <form asp-action="CategoryEdit" method="get" style="display: inline-block; margin-right: 5px;">
                        <input type="hidden" value="@category.Id" name="id">
                        <button type="submit" class="btn btn-dark btn-sm">Düzenle</button>
                    </form>
                    <form asp-action="CategoryDelete" method="post" onsubmit="return confirm('emin misiniz')" style="display: inline-block; margin-right: 5px;">
                        <input type="hidden" value="@category.Id" name="id">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>





