@model StoreViewModel


@{
    ViewData["Title"] = "Store Page";
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}


<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoriesList", new { viewName = "default" })
            <vc:categories-list />
            <br />
            <form asp-action="StorePage">
                <div class="input-group mb-3">
                    <input type="text" name="searchTerm" class="form-control" placeholder="Ürün ismi ile ara" />
                    <button class="btn btn-outline-secondary" type="submit">Ara</button>
                </div>
            </form>

        </div>
        <div class="col-md-9">
            <br />
            <h2 class="text-center mb-4">ISTORE | MAĞAZA</h2>
            <hr />



            <div class="scroll-container">
                <div class="row">
                    @if (Model?.products != null && Model.products.Any())
                    {
                        @foreach (var (product, index) in Model.products.Where(s => s.IsActive == true).Select((value, i) => (value, i)))
                        {
                            var activeClass = index == 0 ? "active" : "";  // İlk öğeye 'active' sınıfı ekle

                            <div class="col-md-3 mb-4">
                                <div class="card shadow-sm @activeClass">
                                        <img src="~/img/Product/@product.img" class="card-img-top" alt="Ürün 2">
                     
                                    <div class="card-body text-center">
                                        <h5 class="card-title">@product.Name</h5>
                                        <p class="text-success">@product.Price ₺</p>
                                        <p style="color:#555">@product.Features</p>
                                        <form asp-page="/Cart" asp-page-handler="AddItem" method="post" class="d-flex justify-content-center">
                                            <input type="hidden" asp-for="@product.Id" name="Id">
                                            <button type="submit" class="btn btn-outline-success btn-sm" style="float:right;">Sepete Ekle</button>
                                        </form>
                                        <br />
                                        <form asp-action="ProductDetails" method="post" class="d-flex justify-content-center">
                                            <input type="hidden" asp-for="@product.Id" name="Id" />
                                            <button type="submit" class="btn btn-outline-dark btn-sm">Ürün Detayı</button>
                                        </form>
                                    </div>


                                </div>

                            </div>
                        }
                    }
                    else
                    {
                        <p>Ürün bulunmamaktadır.</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
