@model IEnumerable<AppUser>
@{
    Layout = "_LayoutAdmin";  // Varsayılan olarak yeni layout'u kullan
}

<br />
<h3> | Kullanıcı Yönetimi </h3>
<hr />


<form asp-action="UsersList" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchTerm" class="form-control" placeholder="email hesabı ile ara" value="@ViewBag.SearchTerm" />
        <button class="btn btn-outline-secondary"  type="submit">Üye Ara</button>
    </div>
</form>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() == 0)
        {
            <tr><td colspan="4" class="text-center">User Yok</td></tr>
        }
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-controller="Admin" asp-action="UserEdit" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Edit</a>
                    <form asp-action="Delete" method="post" onsubmit="return confirm('emin misiniz')" style="display: inline-block;">
                        <input type="hidden" value="@user.Id" name="id">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>