<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISTORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISTORE.styles.css" asp-append-version="true" />
    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap" /></svg>
                </a>
                <span class="fs-4">IStore</span>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-auto">
                    <li>
                        <a asp-controller="Home" asp-action="Index"
                           class="nav-link px-3 @(ViewData["ActivePage"]?.ToString() == "Home" ? "text-secondary" : "text-white")">
                            Anasayfa
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Store" asp-action="StorePage"
                           class="nav-link px-3 @(ViewData["ActivePage"]?.ToString() == "Store" ? "text-secondary" : "text-white")">
                            Mağaza
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="AboutUs"
                           class="nav-link px-3 @(ViewData["ActivePage"]?.ToString() == "AboutUs" ? "text-secondary" : "text-white")">
                            Hakkımızda
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Contact"
                           class="nav-link px-3 @(ViewData["ActivePage"]?.ToString() == "Contact" ? "text-secondary" : "text-white")">
                            İletişim
                        </a>
                    </li>


                </ul>


                @if (User.Identity?.IsAuthenticated == true)
                {

                    <div class="d-flex align-items-center justify-content-end">

                        <a class="bi bi-cart fs-4 nav-link me-3" asp-page="/Cart">
                            Sepetim
                        </a>


                        <a class="btn btn-outline-danger me-2" asp-controller="User" asp-action="Logout">LogOut</a>

                        @if (User.IsInRole("Owner"))
                        {
                            <a class="btn btn-warning" asp-controller="Admin" asp-action="Rollers">Management</a>
                        }
                    </div>
                }
                else
                {
                    <div class="text-end">
                        <a class="btn btn-outline-light me-2" asp-controller="User" asp-action="Login">Login</a>
                        <a class="btn btn-warning" asp-controller="User" asp-action="Register">Sign-up</a>
                    </div>
                }

            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="color:black">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ISTORE - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>